RewriteEngine on

Options -Indexes

RewriteCond %{HTTP_HOST} ^www\.rapidautoshipping\.com [NC]
RewriteRule ^(.*)$ https://rapidautoshipping.com/$1 [L,R=301]


# This rule alow user to access file
RewriteCond %{REQUEST_FILENAME} !-f
#=============================================================================================================
#
ErrorDocument 404 https://rapidautoshipping.com/404
#

#
#=============================================================================================================
#=============================================================================================================
#
# Home page route
ReWriteRule ^$ pages/home.php [NC,L]

#
#=============================================================================================================
#
# This route work for sub service page (car-transport-in-us)
ReWriteRule ^services/([0-9A-Za-z\-]+)([/]?)$ pages/services-pages/$1.php [NC,L]
ReWriteRule ^services([/]?)$ pages/service.php [NC,L]
#
# This route work for sub state-to state page (car-transport-in-us)
ReWriteRule ^state-to-state-transport/([0-9A-Za-z\-]+)([/]{0,1}+)$ pages/state-to-state-transport/$1.php [NC,L]
ReWriteRule ^state-to-state-transport([/]{0,1}+)$ pages/state-to-state-transport.php [NC,L]
#=============================================================================================================
#
# This route work for states-pages(states)
# auto transport state redirect
ReWriteRule ^auto-transport-states/([0-9A-Za-z\-]+)([/]?)$ https://rapidautoshipping.com/states/$1 [R=302,NC,L]

#==============================================================================================================

ReWriteRule ^states([/]?)$ pages/states/state_list.php [NC,L]








ReWriteRule ^states/kentucky([/]?)$ pages/states/kentucky.php [NC,L]


ReWriteRule ^states/maryland([/]?)$ pages/states/maryland.php [NC,L]
ReWriteRule ^states/massachusetts([/]?)$ pages/states/massachusetts.php [NC,L]


ReWriteRule ^states/mississippi([/]?)$ pages/states/mississippi.php [NC,L]

ReWriteRule ^states/montana([/]?)$ pages/states/montana.php [NC,L]
ReWriteRule ^states/nebraska([/]?)$ pages/states/nebraska.php [NC,L]
ReWriteRule ^states/nevada([/]?)$ pages/states/nevada.php [NC,L]
ReWriteRule ^states/new-hampshire([/]?)$ pages/states/new-hampshire.php [NC,L]
ReWriteRule ^states/new-jersey([/]?)$ pages/states/new-jersey.php [NC,L]
ReWriteRule ^states/new-mexico([/]?)$ pages/states/new-mexico.php [NC,L]
ReWriteRule ^states/new-york([/]?)$ pages/states/new-york.php [NC,L]
ReWriteRule ^states/north-carolina([/]?)$ pages/states/north-carolina.php [NC,L]
ReWriteRule ^states/north-dakota([/]?)$ pages/states/north-dakota.php [NC,L]
ReWriteRule ^states/ohio([/]?)$ pages/states/ohio.php [NC,L]
ReWriteRule ^states/oklahoma([/]?)$ pages/states/oklahoma.php [NC,L]
ReWriteRule ^states/oregon([/]?)$ pages/states/oregon.php [NC,L]
ReWriteRule ^states/pennsylvania([/]?)$ pages/states/pennsylvania.php [NC,L]
ReWriteRule ^states/rhode-island([/]?)$ pages/states/rhode-island.php [NC,L]
ReWriteRule ^states/south-carolina([/]?)$ pages/states/south-carolina.php [NC,L]









ReWriteRule ^states/([0-9A-Za-z\-]+)([/]?)$ pages/states/_index.php?page_id=$1 [NC,L]


#
# This route work for cities-pages(cities)
ReWriteRule ^cities/([0-9A-Za-z\-]+)([/]?)$ pages/cities/$1.php [NC,L]
#
#=============================================================================================================


# This route work for cars-companies-page 

ReWriteRule ^cars([/]?)$ pages/car-company-pages/cars_list.php [NC,L]

ReWriteRule ^cars/alfa-romeo-car-transport-service([/]?)$ pages/car-company-pages/alfa-romeo-car-transport-service.php [NC,L]
ReWriteRule ^cars/audi-car-transport-service([/]?)$ pages/car-company-pages/audi-car-transport-service.php [NC,L]
ReWriteRule ^cars/bmw-car-transport-service([/]?)$ pages/car-company-pages/bmw-car-transport-service.php [NC,L]
ReWriteRule ^cars/bugatti-car-transport-service([/]?)$ pages/car-company-pages/bugatti-car-transport-service.php [NC,L]
ReWriteRule ^cars/chevrolet([/]?)$ pages/car-company-pages/chevrolet.php [NC,L]
ReWriteRule ^cars/chrysler([/]?)$ pages/car-company-pages/chrysler.php [NC,L]
ReWriteRule ^cars/corvette-car-transport-service([/]?)$ pages/car-company-pages/corvette-car-transport-service.php [NC,L]
ReWriteRule ^cars/dodge([/]?)$ pages/car-company-pages/dodge.php [NC,L]
ReWriteRule ^cars/ferrari-car-transport-service([/]?)$ pages/car-company-pages/ferrari-car-transport-service.php [NC,L]
ReWriteRule ^cars/ford([/]?)$ pages/car-company-pages/ford.php [NC,L]
ReWriteRule ^cars/honda([/]?)$ pages/car-company-pages/honda.php [NC,L]
ReWriteRule ^cars/jaguar-car-transport-service([/]?)$ pages/car-company-pages/jaguar-car-transport-service.php [NC,L]
ReWriteRule ^cars/koenigsegg-car-transport-service([/]?)$ pages/car-company-pages/koenigsegg-car-transport-service.php [NC,L]
ReWriteRule ^cars/lamborghini-car-transport-service([/]?)$ pages/car-company-pages/lamborghini-car-transport-service.php [NC,L]

ReWriteRule ^cars/lotus-car-transport-service([/]?)$ pages/car-company-pages/lotus-car-transport-service.php [NC,L]
ReWriteRule ^cars/maserati-car-transport-services([/]?)$ pages/car-company-pages/maserati-car-transport-services.php [NC,L]
ReWriteRule ^cars/mazda([/]?)$ pages/car-company-pages/mazda.php [NC,L]
ReWriteRule ^cars/mclaren-car-transport-service([/]?)$ pages/car-company-pages/mclaren-car-transport-service.php [NC,L]
ReWriteRule ^cars/mercedes-benz-car-transport-service([/]?)$ pages/car-company-pages/mercedes-benz-car-transport-service.php [NC,L]
ReWriteRule ^cars/nissan([/]?)$ pages/car-company-pages/nissan.php [NC,L]
ReWriteRule ^cars/porsche-car-transport-services([/]?)$ pages/car-company-pages/porsche-car-transport-services.php [NC,L]
ReWriteRule ^cars/shelby-car-transport-service([/]?)$ pages/car-company-pages/shelby-car-transport-service.php [NC,L]
ReWriteRule ^cars/toyota([/]?)$ pages/car-company-pages/toyota.php [NC,L]

ReWriteRule ^cars/([0-9A-Za-z\-]+)([/]?)$ pages/car-company-pages/_index.php?page_id=$1 [NC,L]




# This route work for cars-companies-page 
ReWriteRule ^auto-transport-carriers/([0-9A-Za-z\-]+)([/]?)$ pages/company-reviews/page.php?review_id=$1 [NC,L]
ReWriteRule ^auto-transport-carriers([/]?)$ pages/company-reviews/_index.php [NC,L]


#
# This route work for cars-pages(cars)
# ReWriteRule ^cars/([0-9A-Za-z\-]+)([/]?)$ pages/cars/$1.php [NC,L]
#
#=============================================================================================================
# This route work for blog-pages(blog)
ReWriteRule ^blogs/([0-9A-Za-z\-]+)([/]?)$ pages/blogs/$1.php [NC,L]
ReWriteRule ^blogs([/]?)$ pages/blogs/_index.php [NC,L]
#



# This route work for all aboutus page
ReWriteRule ^about-us([/]?)$ pages/about-us.php [NC,L]
ReWriteRule ^privacy-policy([/]?)$ pages/privacy-policy.php [NC,L]
    
# This route work for all contactus 
ReWriteRule ^contact-us([/]?)$ pages/contactus.php [NC,L]

# this route work for privacy police page
ReWriteRule ^privacy-policy([/]?)$ pages/docs/pp.html [NC,L]

#this route work for Cancilation police
ReWriteRule ^cancelation-policy([/]?)$ pages/docs/cp.html [NC,L]

#This route work for terms and conditions
ReWriteRule ^terms-and-conditions([/]?)$ pages/docs/tnc.html [NC,L]

#404 error pages
ReWriteRule ^404([/]?)$ pages/error/404.php [NC,L] 

#sitemap
RewriteRule ^sitemap\.xml/?$ sitemap.php
# RewriteRule ^sitemap\.html/?$ sitemap.html.php




# This route work for state to state pages  

#==============================================================================================================

ReWriteRule ^state-to-state([/]?)$ pages/state-to-state/state-to-state-list.php [NC,L]

ReWriteRule ^get_qoute([/]?)$ pages/state-to-state/get_qoute.php [NC,L]

ReWriteRule ^state-to-state/([0-9A-Za-z\-]+)([/]?)$ pages/state-to-state/_index.php?page_id=$1 [NC,L]



#gzip===========================