RewriteEngine on

Options -Indexes

RewriteCond %{HTTP_HOST} ^www\.rapidautoshipping\.com [NC]
RewriteRule ^(.*)$ https://rapidautoshipping.com/$1 [L,R=301]


# This rule alow user to access file
RewriteCond %{REQUEST_FILENAME} !-f
#=============================================================================================================
#
ErrorDocument 404 https://rapidautoshipping.com/404
#

#
#=============================================================================================================
#=============================================================================================================
#
# Home page route
ReWriteRule ^$ pages/home.php [NC,L]

#
#=============================================================================================================
#
# This route work for sub service page (car-transport-in-us)
ReWriteRule ^services([/]?)$ pages/service.php [NC,L]
# ReWriteRule ^services/ambulance-shipping([/]?)$ pages/services-pages/ambulance-shipping.php [NC,L]
#ReWriteRule ^services/auto-auction-shipping([/]?)$ pages/services-pages/auto-auction-shipping.php [NC,L]
#ReWriteRule ^services/best-transportation-car-services([/]?)$ pages/services-pages/best-transportation-car-services.php [NC,L]
#ReWriteRule ^services/boat-shipping([/]?)$ pages/services-pages/boat-shipping.php [NC,L]
ReWriteRule ^services/car-shipping-companies([/]?)$ pages/services-pages/car-shipping-companies.php [NC,L]
#ReWriteRule ^services/car-shipping-services([/]?)$ pages/services-pages/car-shipping-services.php [NC,L]
#ReWriteRule ^services/car-transport-dealership([/]?)$ pages/services-pages/car-transport-dealership.php [NC,L]
ReWriteRule ^services/car-transport-in-continental-us([/]?)$ pages/services-pages/car-transport-in-continental-us.php [NC,L]
#ReWriteRule ^services/car-transport-quotes([/]?)$ pages/services-pages/car-transport-quotes.php [NC,L]
#ReWriteRule ^services/car-transport([/]?)$ pages/services-pages/car-transport.php [NC,L]
ReWriteRule ^services/cargo-vans-services([/]?)$ pages/services-pages/cargo-vans-services.php [NC,L]
#ReWriteRule ^services/caterpillar-equipment-shipping([/]?)$ pages/services-pages/caterpillar-equipment-shipping.php [NC,L]
#ReWriteRule ^services/cheap-transporters-service-in-the-usa([/]?)$ pages/services-pages/cheap-transporters-service-in-the-usa.php [NC,L]
ReWriteRule ^services/classic-car-shipping([/]?)$ pages/services-pages/classic-car-shipping.php [NC,L]
#ReWriteRule ^services/construction-equipment([/]?)$ pages/services-pages/construction-equipment.php [NC,L]
ReWriteRule ^services/containerized-freight-hauling([/]?)$ pages/services-pages/containerized-freight-hauling.php [NC,L]
#ReWriteRule ^services/continental-car([/]?)$ pages/services-pages/continental-car.php [NC,L]
#ReWriteRule ^services/cost-to-ship-a-bus([/]?)$ pages/services-pages/cost-to-ship-a-bus.php [NC,L]
ReWriteRule ^services/customized-container-shipping([/]?)$ pages/services-pages/customized-container-shipping.php [NC,L]
#ReWriteRule ^services/door-to-door([/]?)$ pages/services-pages/door-to-door.php [NC,L]
#ReWriteRule ^services/enclosed-shipping([/]?)$ pages/services-pages/enclosed-shipping.php [NC,L]
#ReWriteRule ^services/farm-equipment([/]?)$ pages/services-pages/farm-equipment.php [NC,L]
#ReWriteRule ^services/fifth-wheel-transport([/]?)$ pages/services-pages/fifth-wheel-transport.php [NC,L]
ReWriteRule ^services/food-truck-shipping([/]?)$ pages/services-pages/food-truck-shipping.php [NC,L]
#ReWriteRule ^services/forklift-transportation-company([/]?)$ pages/services-pages/forklift-transportation-company.php [NC,L]
ReWriteRule ^services/hauling-isuzu-npr-truck([/]?)$ pages/services-pages/hauling-isuzu-npr-truck.php [NC,L]
ReWriteRule ^services/hauling-oversize-load([/]?)$ pages/services-pages/hauling-oversize-load.php [NC,L]
#ReWriteRule ^services/heavy-equipment-shipping([/]?)$ pages/services-pages/heavy-equipment-shipping.php [NC,L]
#ReWriteRule ^services/heavy-hauling-large-cargo([/]?)$ pages/services-pages/heavy-hauling-large-cargo.php [NC,L]
ReWriteRule ^services/heavy-hauling-truck([/]?)$ pages/services-pages/heavy-hauling-truck.php [NC,L]
ReWriteRule ^services/international-boat-transport([/]?)$ pages/services-pages/international-boat-transport.php [NC,L]
#ReWriteRule ^services/international-car-shipping([/]?)$ pages/services-pages/international-car-shipping.php [NC,L]
ReWriteRule ^services/international-heavy-equipment-shipping([/]?)$ pages/services-pages/international-heavy-equipment-shipping.php [NC,L]
ReWriteRule ^services/international-motorcycle-shipping([/]?)$ pages/services-pages/international-motorcycle-shipping.php [NC,L]
ReWriteRule ^services/komatsu-equipment-shipping([/]?)$ pages/services-pages/komatsu-equipment-shipping.php [NC,L]
#ReWriteRule ^services/line-haul-transport([/]?)$ pages/services-pages/line-haul-transport.php [NC,L]
#ReWriteRule ^services/lowboy-shipping([/]?)$ pages/services-pages/lowboy-shipping.php [NC,L]
#ReWriteRule ^services/military-shipping([/]?)$ pages/services-pages/military-shipping.php [NC,L]
# ReWriteRule ^services/motor-cycle-shipping([/]?)$ pages/services-pages/motor-cycle-shipping.php [NC,L]
ReWriteRule ^services/motorcycle-by-train([/]?)$ pages/services-pages/motorcycle-by-train.php [NC,L]
ReWriteRule ^services/multi-car-shipping([/]?)$ pages/services-pages/multi-car-shipping.php [NC,L]
ReWriteRule ^services/new-holland-tractor([/]?)$ pages/services-pages/new-holland-tractor.php [NC,L]
ReWriteRule ^services/open-car-shipping([/]?)$ pages/services-pages/open-car-shipping.php [NC,L]
ReWriteRule ^services/rail-shipping([/]?)$ pages/services-pages/rail-shipping.php [NC,L]
ReWriteRule ^services/rv-movers-near-me-services([/]?)$ pages/services-pages/rv-movers-near-me-services.php [NC,L]
ReWriteRule ^services/rv-transport([/]?)$ pages/services-pages/rv-transport.php [NC,L]
ReWriteRule ^services/snow-bird-shipping([/]?)$ pages/services-pages/snow-bird-shipping.php [NC,L]
ReWriteRule ^services/state-to-state-car-shipping([/]?)$ pages/services-pages/state-to-state-car-shipping.php [NC,L]
ReWriteRule ^services/tractor-transport([/]?)$ pages/services-pages/tractor-transport.php [NC,L]
ReWriteRule ^services/transporting-case-trucks([/]?)$ pages/services-pages/transporting-case-trucks.php [NC,L]
ReWriteRule ^services/truck-shipping-service([/]?)$ pages/services-pages/truck-shipping-service.php [NC,L]
ReWriteRule ^services/trucking-company-near-me([/]?)$ pages/services-pages/trucking-company-near-me.php [NC,L]
ReWriteRule ^services/yacht-shipping-services([/]?)$ pages/services-pages/yacht-shipping-services.php [NC,L]
#ReWriteRule ^services/([0-9A-Za-z\-]+)([/]?)$ pages/services-pages/$1.php [NC,L]
ReWriteRule ^services/([0-9A-Za-z\-]+)([/]?)$ pages/services-pages/_index.php?page_id=$1 [NC,L]

#
# This route work for sub state-to state page (car-transport-in-us)
ReWriteRule ^state-to-state-transport/([0-9A-Za-z\-]+)([/]{0,1}+)$ pages/state-to-state-transport/$1.php [NC,L]
ReWriteRule ^state-to-state-transport([/]{0,1}+)$ pages/state-to-state-transport.php [NC,L]
#=============================================================================================================
#
# This route work for states-pages(states)
# auto transport state redirect
ReWriteRule ^auto-transport-states/([0-9A-Za-z\-]+)([/]?)$ https://rapidautoshipping.com/states/$1 [R=302,NC,L]

#==============================================================================================================

ReWriteRule ^states([/]?)$ pages/states/state_list.php [NC,L]



ReWriteRule ^states/([0-9A-Za-z\-]+)([/]?)$ pages/states/_index.php?page_id=$1 [NC,L]



# This route work for cities-pages(cities)
ReWriteRule ^cities/([0-9A-Za-z\-]+)([/]?)$ pages/cities/$1.php [NC,L]
#
#=============================================================================================================


# This route work for cars-companies-page 

ReWriteRule ^cars([/]?)$ pages/car-company-pages/cars_list.php [NC,L]





ReWriteRule ^cars/chevrolet([/]?)$ pages/car-company-pages/chevrolet.php [NC,L]
ReWriteRule ^cars/chrysler([/]?)$ pages/car-company-pages/chrysler.php [NC,L]

#ReWriteRule ^cars/dodge([/]?)$ pages/car-company-pages/dodge.php [NC,L]

#ReWriteRule ^cars/ford([/]?)$ pages/car-company-pages/ford.php [NC,L]
#ReWriteRule ^cars/honda([/]?)$ pages/car-company-pages/honda.php [NC,L]






#ReWriteRule ^cars/mazda([/]?)$ pages/car-company-pages/mazda.php [NC,L]


#ReWriteRule ^cars/nissan([/]?)$ pages/car-company-pages/nissan.php [NC,L]


ReWriteRule ^cars/toyota([/]?)$ pages/car-company-pages/toyota.php [NC,L]

ReWriteRule ^cars/([0-9A-Za-z\-]+)([/]?)$ pages/car-company-pages/_index.php?page_id=$1 [NC,L]




# This route work for cars-companies-page 
ReWriteRule ^auto-transport-carriers/([0-9A-Za-z\-]+)([/]?)$ pages/company-reviews/page.php?review_id=$1 [NC,L]
ReWriteRule ^auto-transport-carriers([/]?)$ pages/company-reviews/_index.php [NC,L]


#
# This route work for cars-pages(cars)
# ReWriteRule ^cars/([0-9A-Za-z\-]+)([/]?)$ pages/cars/$1.php [NC,L]
#
#=============================================================================================================
# This route work for blog-pages(blog)

ReWriteRule ^blogs([/]?)$ pages/blogs/blogs_list.php [NC,L]
# ReWriteRule ^blogs/10-questions-to-ask-an-auto-transport-company([/]?)$ pages/blogs/10-questions-to-ask-an-auto-transport-company.php [NC,L]
ReWriteRule ^blogs/advantages-of-line-haul-transportation([/]?)$ pages/blogs/advantages-of-line-haul-transportation.php [NC,L]
ReWriteRule ^blogs/alaska-auto-shipping([/]?)$ pages/blogs/alaska-auto-shipping.php [NC,L]
ReWriteRule ^blogs/atvs-shipping([/]?)$ pages/blogs/atvs-shipping.php [NC,L]
ReWriteRule ^blogs/auction-auto-transport-services([/]?)$ pages/blogs/auction-auto-transport-services.php [NC,L]
ReWriteRule ^blogs/auto-shipping-calculator([/]?)$ pages/blogs/auto-shipping-calculator.php [NC,L]
ReWriteRule ^blogs/auto-shipping-payment-options([/]?)$ pages/blogs/auto-shipping-payment-options.php [NC,L]
ReWriteRule ^blogs/auto-transport-seattle([/]?)$ pages/blogs/auto-transport-seattle.php [NC,L]
ReWriteRule ^blogs/autoshipping-companies-in-arkansas-2022([/]?)$ pages/blogs/autoshipping-companies-in-arkansas-2022.php [NC,L]
ReWriteRule ^blogs/beginners-guide-for-first-time-auto-shipping([/]?)$ pages/blogs/beginners-guide-for-first-time-auto-shipping.php [NC,L]
# ReWriteRule ^blogs/benefits-of-car-shipping([/]?)$ pages/blogs/benefits-of-car-shipping.php [NC,L]
ReWriteRule ^blogs/benefits-of-enclosed-auto-transport([/]?)$ pages/blogs/benefits-of-enclosed-auto-transport.php [NC,L]
ReWriteRule ^blogs/benefits-of-hiring-an-auto-transport-company([/]?)$ pages/blogs/benefits-of-hiring-an-auto-transport-company.php [NC,L]
ReWriteRule ^blogs/benefits-of-open-auto-transport([/]?)$ pages/blogs/benefits-of-open-auto-transport.php [NC,L]
ReWriteRule ^blogs/best-autoshipping-company-usa([/]?)$ pages/blogs/best-autoshipping-company-usa.php [NC,L]
ReWriteRule ^blogs/best-car-shipping-companies-in-usa([/]?)$ pages/blogs/best-car-shipping-companies-in-usa.php [NC,L]
ReWriteRule ^blogs/boat-shipping-how-much-does-it-cost-to-transport-a-boat([/]?)$ pages/blogs/boat-shipping-how-much-does-it-cost-to-transport-a-boat.php [NC,L]
ReWriteRule ^blogs/boat-shipping([/]?)$ pages/blogs/boat-shipping.php [NC,L]
ReWriteRule ^blogs/bus-transportation-services([/]?)$ pages/blogs/bus-transportation-services.php [NC,L]
ReWriteRule ^blogs/camper-transport([/]?)$ pages/blogs/camper-transport.php [NC,L]
ReWriteRule ^blogs/car-hauler-or-flatbed-shipping([/]?)$ pages/blogs/car-hauler-or-flatbed-shipping.php [NC,L]
ReWriteRule ^blogs/car-shipping-documents([/]?)$ pages/blogs/car-shipping-documents.php [NC,L]
ReWriteRule ^blogs/cheapest-way-to-ship-a-car-to-hawaii([/]?)$ pages/blogs/cheapest-way-to-ship-a-car-to-hawaii.php [NC,L]
#ReWriteRule ^blogs/cheapest-way-to-ship-a-car([/]?)$ pages/blogs/cheapest-way-to-ship-a-car.php [NC,L]
ReWriteRule ^blogs/classic-car-shipping-services-provider([/]?)$ pages/blogs/classic-car-shipping-services-provider.php [NC,L]
ReWriteRule ^blogs/comparing-auto-transport-prices([/]?)$ pages/blogs/comparing-auto-transport-prices.php [NC,L]
ReWriteRule ^blogs/cost-from-california-to-texas([/]?)$ pages/blogs/cost-from-california-to-texas.php [NC,L]
# ReWriteRule ^blogs/cost-from-texas-to-california([/]?)$ pages/blogs/cost-from-texas-to-california.php [NC,L]
# ReWriteRule ^blogs/cost-to-ship-a-car([/]?)$ pages/blogs/cost-to-ship-a-car.php [NC,L]
ReWriteRule ^blogs/cross-country-car-shipping([/]?)$ pages/blogs/cross-country-car-shipping.php [NC,L]
# ReWriteRule ^blogs/differences-between-shipping-a-vehicle-during-summer-vs-winter([/]?)$ pages/blogs/differences-between-shipping-a-vehicle-during-summer-vs-winter.php [NC,L]
# ReWriteRule ^blogs/enclosed-auto-transport-chicago([/]?)$ pages/blogs/enclosed-auto-transport-chicago.php [NC,L]
ReWriteRule ^blogs/enclosed-vs-open-car-transport([/]?)$ pages/blogs/enclosed-vs-open-car-transport.php [NC,L]
# ReWriteRule ^blogs/exotic-cars([/]?)$ pages/blogs/exotic-cars.php [NC,L]
ReWriteRule ^blogs/fifth-wheel-transport-services([/]?)$ pages/blogs/fifth-wheel-transport-services.php [NC,L]
ReWriteRule ^blogs/find-the-right-dallas-car-shipping-company([/]?)$ pages/blogs/find-the-right-dallas-car-shipping-company.php [NC,L]
ReWriteRule ^blogs/five-mistakes-to-avoid-while-shipping([/]?)$ pages/blogs/five-mistakes-to-avoid-while-shipping.php [NC,L]
ReWriteRule ^blogs/flatbed-auto-shipping-carriers([/]?)$ pages/blogs/flatbed-auto-shipping-carriers.php [NC,L]
ReWriteRule ^blogs/florida-car-shipping-fees([/]?)$ pages/blogs/florida-car-shipping-fees.php [NC,L]
ReWriteRule ^blogs/guide-to-auto-transport-deposit([/]?)$ pages/blogs/guide-to-auto-transport-deposit.php [NC,L]
ReWriteRule ^blogs/how-can-i-move-a-motorcycle([/]?)$ pages/blogs/how-can-i-move-a-motorcycle.php [NC,L]
ReWriteRule ^blogs/how-long-it-takes-to-ship-a-car([/]?)$ pages/blogs/how-long-it-takes-to-ship-a-car.php [NC,L]
ReWriteRule ^blogs/how-much-does-it-cost-to-ship-a-car([/]?)$ pages/blogs/how-much-does-it-cost-to-ship-a-car.php [NC,L]
ReWriteRule ^blogs/how-the-weather-affects-auto-transport([/]?)$ pages/blogs/how-the-weather-affects-auto-transport.php [NC,L]
ReWriteRule ^blogs/how-to-avoid-auto-shipping-delay([/]?)$ pages/blogs/how-to-avoid-auto-shipping-delay.php [NC,L]
ReWriteRule ^blogs/how-to-avoid-auto-shipping-scam([/]?)$ pages/blogs/how-to-avoid-auto-shipping-scam.php [NC,L]
ReWriteRule ^blogs/how-to-avoid-issues-with-auto-transport-broker([/]?)$ pages/blogs/how-to-avoid-issues-with-auto-transport-broker.php [NC,L]
ReWriteRule ^blogs/how-to-prepare-your-vehicle([/]?)$ pages/blogs/how-to-prepare-your-vehicle.php [NC,L]
ReWriteRule ^blogs/how-to-ship-a-car-overseas([/]?)$ pages/blogs/how-to-ship-a-car-overseas.php [NC,L]
ReWriteRule ^blogs/how-to-ship-a-military-persons-vehicle([/]?)$ pages/blogs/how-to-ship-a-military-persons-vehicle.php [NC,L]
# ReWriteRule ^blogs/how-to-ship-a-truck([/]?)$ pages/blogs/how-to-ship-a-truck.php [NC,L]
ReWriteRule ^blogs/how-to-ship-non-running-vehicle([/]?)$ pages/blogs/how-to-ship-non-running-vehicle.php [NC,L]
ReWriteRule ^blogs/indianapolis-auto-transport-guide([/]?)$ pages/blogs/indianapolis-auto-transport-guide.php [NC,L]
ReWriteRule ^blogs/international-car-shipping-tips([/]?)$ pages/blogs/international-car-shipping-tips.php [NC,L]
ReWriteRule ^blogs/jet-ski-transportation([/]?)$ pages/blogs/jet-ski-transportation.php [NC,L]
ReWriteRule ^blogs/line-haul-transportation([/]?)$ pages/blogs/line-haul-transportation.php [NC,L]
ReWriteRule ^blogs/local-online-car-shipping([/]?)$ pages/blogs/local-online-car-shipping.php [NC,L]
ReWriteRule ^blogs/los-angeles-auto-transport([/]?)$ pages/blogs/los-angeles-auto-transport.php [NC,L]
ReWriteRule ^blogs/lowboy-shipping([/]?)$ pages/blogs/lowboy-shipping.php [NC,L]
ReWriteRule ^blogs/multi-car-shipping([/]?)$ pages/blogs/multi-car-shipping.php [NC,L]

ReWriteRule ^blogs/pittsburgh-car-shipping([/]?)$ pages/blogs/pittsburgh-car-shipping.php [NC,L]
ReWriteRule ^blogs/port-to-port-transportation([/]?)$ pages/blogs/port-to-port-transportation.php [NC,L]
ReWriteRule ^blogs/pros-and-cons-of-auto-shipping([/]?)$ pages/blogs/pros-and-cons-of-auto-shipping.php [NC,L]
ReWriteRule ^blogs/pros-and-cons-of-door-to-door-auto-shipping([/]?)$ pages/blogs/pros-and-cons-of-door-to-door-auto-shipping.php [NC,L]
#ReWriteRule ^blogs/race-car-transport-services([/]?)$ pages/blogs/race-car-transport-services.php [NC,L]
ReWriteRule ^blogs/right-auto-transport-carrier-for-your-vehicle([/]?)$ pages/blogs/right-auto-transport-carrier-for-your-vehicle.php [NC,L]
ReWriteRule ^blogs/san-diego-auto-shipping([/]?)$ pages/blogs/san-diego-auto-shipping.php [NC,L]
ReWriteRule ^blogs/san-fransisco-shipping([/]?)$ pages/blogs/san-fransisco-shipping.php [NC,L]
# ReWriteRule ^blogs/ship-from-new-york-to-florida([/]?)$ pages/blogs/ship-from-new-york-to-florida.php [NC,L]
ReWriteRule ^blogs/shipping-a-car-in-the-winter([/]?)$ pages/blogs/shipping-a-car-in-the-winter.php [NC,L]
ReWriteRule ^blogs/shipping-a-dump-truck([/]?)$ pages/blogs/shipping-a-dump-truck.php [NC,L]
ReWriteRule ^blogs/shipping-car-to-alaska([/]?)$ pages/blogs/shipping-car-to-alaska.php [NC,L]
ReWriteRule ^blogs/shipping-car-to-mexico([/]?)$ pages/blogs/shipping-car-to-mexico.php [NC,L]
# ReWriteRule ^blogs/special-discounts([/]?)$ pages/blogs/special-discounts.php [NC,L]
ReWriteRule ^blogs/state-to-state-transport([/]?)$ pages/blogs/state-to-state-transport.php [NC,L]
# ReWriteRule ^blogs/summer-car-shipping([/]?)$ pages/blogs/summer-car-shipping.php [NC,L]
ReWriteRule ^blogs/suv-auto-transport([/]?)$ pages/blogs/suv-auto-transport.php [NC,L]
# ReWriteRule ^blogs/terminal-to-terminal-auto-transport([/]?)$ pages/blogs/terminal-to-terminal-auto-transport.php [NC,L]
ReWriteRule ^blogs/terminal-to-terminal-car-shipping-service([/]?)$ pages/blogs/terminal-to-terminal-car-shipping-service.php [NC,L]
ReWriteRule ^blogs/tips-for-auto-shipping-discount([/]?)$ pages/blogs/tips-for-auto-shipping-discount.php [NC,L]
ReWriteRule ^blogs/tips-for-preparing-your-car-for-auction([/]?)$ pages/blogs/tips-for-preparing-your-car-for-auction.php [NC,L]
ReWriteRule ^blogs/tips-to-ship-an-exotic-car([/]?)$ pages/blogs/tips-to-ship-an-exotic-car.php [NC,L]
ReWriteRule ^blogs/transporting-car-to-dealership([/]?)$ pages/blogs/transporting-car-to-dealership.php [NC,L]
ReWriteRule ^blogs/transporting-my-car-to-another-state([/]?)$ pages/blogs/transporting-my-car-to-another-state.php [NC,L]
ReWriteRule ^blogs/transporting-my-car-to-another-state([/]?)$ pages/blogs/transporting-my-car-to-another-state.php [NC,L]
ReWriteRule ^blogs/travel-trailer-moving-service([/]?)$ pages/blogs/travel-trailer-moving-service.php [NC,L]
ReWriteRule ^blogs/types-of-auto-transport([/]?)$ pages/blogs/types-of-auto-transport.php [NC,L]
# ReWriteRule ^blogs/what-is-it-snowbird-auto-transport([/]?)$ pages/blogs/what-is-it-snowbird-auto-transport.php [NC,L]
ReWriteRule ^blogs/what-is-usdot-how-to-check-usdot([/]?)$ pages/blogs/what-is-usdot-how-to-check-usdot.php [NC,L]
ReWriteRule ^blogs/why-do-auto-shipping-quote-differ([/]?)$ pages/blogs/why-do-auto-shipping-quote-differ.php [NC,L]
ReWriteRule ^blogs/why-not-to-run-for-low-prices([/]?)$ pages/blogs/why-not-to-run-for-low-prices.php [NC,L]
ReWriteRule ^blogs/why-to-compare-auto-transport-companies([/]?)$ pages/blogs/why-to-compare-auto-transport-companies.php [NC,L]
# ReWriteRule ^blogs/([0-9A-Za-z\-]+)([/]?)$ pages/blogs/$1.php [NC,L]

ReWriteRule ^blogs/([0-9A-Za-z\-]+)([/]?)$ pages/blogs/_index.php?page_id=$1 [NC,L]

#



# This route work for all aboutus page
ReWriteRule ^about-us([/]?)$ pages/about-us.php [NC,L]
ReWriteRule ^privacy-policy([/]?)$ pages/privacy-policy.php [NC,L]
    
# This route work for all contactus 
ReWriteRule ^contact-us([/]?)$ pages/contactus.php [NC,L]

# this route work for privacy police page
ReWriteRule ^privacy-policy([/]?)$ pages/docs/pp.html [NC,L]

#this route work for Cancilation police
ReWriteRule ^cancelation-policy([/]?)$ pages/docs/cp.html [NC,L]

#This route work for terms and conditions
ReWriteRule ^terms-and-conditions([/]?)$ pages/docs/tnc.html [NC,L]

#404 error pages
ReWriteRule ^404([/]?)$ pages/error/404.php [NC,L] 

#sitemap
RewriteRule ^sitemap\.xml/?$ sitemap.php
# RewriteRule ^sitemap\.html/?$ sitemap.html.php




# This route work for state to state pages  

#==============================================================================================================

ReWriteRule ^state-to-state([/]?)$ pages/state-to-state/state-to-state-list.php [NC,L]

ReWriteRule ^get_qoute([/]?)$ pages/state-to-state/get_qoute.php [NC,L]

ReWriteRule ^state-to-state/([0-9A-Za-z\-]+)([/]?)$ pages/state-to-state/_index.php?page_id=$1 [NC,L]





#gzip===========================