
        .body{
             /* overflow: hidden; */
             /* margin-top: 60px; */
            display: grid;
            align-items: center;
           text-align: center;
        }

         .body .container {
            display: grid;
            padding: 0% 10%;
            gap: 8px;
           

        }

        .body .box {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f3eeec;
            color: #ff5722;
            font-weight: bold;
            cursor: pointer;
        }
        .body .box:hover{
            background-color: #dddada;
        }
        
        .body .bx{
            font-size: 40px;
        }
        .body .rotate{
            transform: rotate(44deg);
        }
        .body .para-faq{
            /* display: none; */
            overflow: hidden;
            max-height: 0px;
            transition: all 0.1s linear;
            text-align: left;
            font-weight: 500;
            padding: 0 15px;
            /* transition: max-height 0.5s, padding 0.5s; */
           
        }
        .body .p{
            /* display: block; */
            max-height: 100vh;
            
        }
        .body .faq{
            font-size: 40px;
            font-weight: bold;
            /* color: #ff5722; */
            padding: 10px;
        }
      @media screen and (max-width: 500px) {
        .body .faq{
            font-size: 25px;
        }
      }