.how_it_works_section{
  padding: 5% 5%;
}
.howItWorkHome {
    padding-top: 65px;
}
.howItWorkHome .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* @media (min-width: 768px){
    .howItWorkHome .container {
    width: 750px;
}}

@media (min-width: 992px){
    .howItWorkHome .container {
    width: 970px;
}} */
.homeContainer {
    max-width: 1040px;
}
.howItWorkHome .container {
    max-width: 975px;
}
.howItWorkHome .container {
    max-width: 1170px;
    width: 1170px;
}

.howItWorkHome .container::before{
    display: table;
    content: " ";
}
.howItWorkHome .container::after{
    display: table;
    content: " ";
    clear: both;
}
.width {
    float: left;
    width: 100%;
}
.text-center {
    text-align: center;
}
.howItWorkHome .titleHow {
    float: left;
    width: 100%;
    font-size: 39px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;
}
.howItWorkHome p {
    margin: 0 0 10px;
}
.howItWorkHome .subTitle {
    display: inline-block;
    max-width: 560px;
    padding: 0px 20px;
    color: #83888f;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 30px;
    margin-bottom: 125px;
    border-bottom: 3px solid #f3f3f4;
}
.howItWorkHome .stepsHow {
    margin-bottom: 0px;
    border-bottom: 1px solid #eeeef2;
    position: relative;
}
.howItWorkHome .stepsHow::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1120px;
    background: url(../../assets/images/road.png) no-repeat top 30px center;
    top: 0px;
    left: 0px;
}
.howItWorkHome .stepsHow .item {
    padding-left: 280px;
    position: relative;
    z-index: 4;
    width: 100%;
    margin-bottom: 205px;
    float: left;
}
.howItWorkHome .stepsHow .stepsCount {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid #8a94a4;
    /* background-color: #9dadc9; */
    background-color: var(--nav-color);
    line-height: 46px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    left: 131px;
    top: 5px;
}
.howItWorkHome .stepsHow .item .img {
    float: right;
    width: 360px;
    text-align: center;
}
img {
    max-width: 100%;
}
.howItWorkHome .stepsHow .item .text {
    float: left;
    width: 450px;
}

.howItWorkHome .stepsHow .item .text .titleItem {
    float: left;
    width: 100%;
    font-size: 24px;
    /* color: #00011e; */
    color: var(--nav-color);
    font-weight: 700;
    margin-bottom: 5px;
}
.howItWorkHome .stepsHow .item .text p {
    float: left;
    width: 100%;
    /* color: #83888f; */
    font-weight: 500;
}
.howItWorkHome .stepsHow > .item:nth-child(even) {
    padding: 0px 280px 0px 0px;
}
.howItWorkHome .stepsHow > .item:nth-child(even) .stepsCount {
    left: auto;
    right: 132px;
}
.howItWorkHome .stepsHow > .item:nth-child(even) .img {
    float: left;
}
.howItWorkHome .stepsHow > .item:nth-child(even) .text {
    text-align: right;
    float: right;
}
.howItWorkHome .stepsHow > .item:last-child {
  margin-bottom: 30px; }

@media screen and (max-width: 1200px){
  .howItWorkHome .stepsHow .item .text {
    width: 290px;
}

.howItWorkHome .container{
    width: 970px;
    max-width: 970px;
}}
@media screen and (max-width: 991px){
  .howItWorkHome .stepsHow .item .text .titleItem{
    font-size: 20px;
  }
  .howItWorkHome .stepsHow .item .text p{
    font-size: 15px;
  }
.howItWorkHome {
    padding: 100px 0px;
}
.howItWorkHome .stepsHow::before {
    background: url(../../assets/images/road-2.png) no-repeat left top;
    width: 34px;
    left: -150px;
    top: 244px;
}
.howItWorkHome {
    padding: 100px 0px; }

  .howItWorkHome .homeContainer {
    max-width: 430px; }

  .howItWorkHome .stepsHow .item,
  .howItWorkHome .stepsHow > .item:nth-child(2n) {
    padding: 0px; }

  .howItWorkHome .stepsHow .stepsCount {
    left: -158px !important;
    top: 200px !important; }

  .howItWorkHome .stepsHow .item .img {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px; }

  .howItWorkHome .subTitle {
    margin-bottom: 90px; }

  .howItWorkHome .stepsHow .item .text {
    width: 100%; }

  .howItWorkHome .stepsHow > .item:nth-child(2n) .text {
    text-align: left; }

  .howItWorkHome .stepsHow .item {
    margin-bottom: 80px; }

  .howItWorkHome .subTitle,
  .howItWorkHome .titleHow {
    width: 550px;
    margin-left: -75px; }

}
@media screen and (max-width: 768px){
  img.how_car{
    width:290px;
    height: 126px;
  }
  img.how_calculation{
    width: 290px;
    height: 134px;
  }
  img.how_shippping{
    width: 290px;
    height: 139px;
  }
  img.how_delivery{
    width: 290px;
    height: 135px;
  }
  .howItWorkHome .container {
    width: 320px;}

    .howItWorkHome .subTitle, .howItWorkHome .titleHow {
    width: 100%;
    margin: 0px 0px 30px 0px; }

  .howItWorkHome {
    padding:  0; }

  .howItWorkHome .titleHow {
    font-size: 34px;
    margin-bottom: 15px; }

  .howItWorkHome .subTitle {
    margin-bottom: 60px; }
  
  .howItWorkHome .stepsHow .stepsCount {
    left: calc(50% - 25px) !important;
    top: -35px !important; }

  .howItWorkHome .stepsHow .item .img{
    margin-top: 20px;
  }


  .howItWorkHome .stepsHow .item .text {
    text-align: center; }

  .howItWorkHome .stepsHow .item {
    margin-bottom: 120px;
    position: relative; }
    .howItWorkHome .stepsHow .item::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      left: 0px;
      top: calc(100% + 10px);
      height: 75px;
      background: url(../images/small-road.png) no-repeat top center; }

  .howItWorkHome .stepsHow::before {
    display: none !important; }

  .howItWorkHome .stepsHow > .item:last-child {
    margin-bottom: 35px; }

  .howItWorkHome .stepsHow > .item:last-child::before {
    display: none !important; }
}
.how_heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.how_head{
  font-size: 39px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;
    color: var(--nav-color);
}
.how_subtitle{
    display: inline-block;
    max-width: 560px;
    padding: 0px 20px;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 30px;
    border-bottom: 3px solid #f3f3f4;
}