.form_div{
    position: sticky;
    top: 100px;
  }
  .form-section {
      position: relative;
      z-index: 0 !important;
    }
    .bb-img {
      position: absolute;
      width: 120px;
      height: 120px;
      left: -12%;
      top: -12%;
      box-shadow: 0 0 35px rgb(0 0 0 / 20%);
      z-index: 99;
      border-radius: 50%;
    }
    .bb-img > img {
      width: 100%;
      height: 100%;
    }
    .form-section {
      background-color: #fff;
      width: 100%;
      border-radius: 7px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 5% 7%;
      max-width: 400px;
      min-width: 330px;
      height: fit-content;
    }
    .form-section > .form-section-group_side {
      display: none;
    }
    .form-section > .active_form_side {
      display: block;
    }
    
    .form-section > .form-section-group_side > p {
      font-size: 19px;
      font-weight: 500;
      text-align: center;
    }
    
    .form-section > .form-section-group_side > .form-bold-heading {
      font-size: 21px;
      font-weight: 800;
      text-align: center;
      color: #ff5227;
    }
    
    .form-section-group_side > div {
      margin: 15px 0;
      width: 100%;
    }
    .form-input {
      padding: 20px 0 5px 0;
    }
    .label-ship {
      font-size: 12px !important;
      font-family: Open Sans, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      color: #222;
    }
    .input-ship {
      font-size: 15px;
      padding: 12px 10px;
      border: 0.5px solid #d0d0d0;
      border-radius: 5px;
      width: 100%;
    }
    
    input:focus {
      outline-color: #ff5227 !important;
    }
    /* div:has(input:focus) label {
      color: red;
    } */
    .form-button {
      padding: 0 0 10px 0;
      display: grid;
    }
    .button-parent {
      display: grid;
    }
    .wrapper {
      display: inline-flex;
      background: #fff;
      width: 100% !important;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .wrapper .option {
      background: #fff;
      padding: 7px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      gap: 10px;
      border-radius: 5px;
      cursor: pointer;
      border: 2px solid lightgrey;
      transition: all 0.3s ease;
    }
    .wrapper .option .dot {
      height: 15px;
      width: 15px;
      background: #d9d9d9;
      border-radius: 50%;
      position: relative;
    }
    .wrapper .option .dot::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      width: 8px;
      height: 8px;
      background: #ff5227;
      border-radius: 50%;
      opacity: 0;
      transform: scale(1.5);
      transition: all 0.3s ease;
    }
    input[type="radio"] {
      display: none;
    }
    #open:checked:checked ~ .open,
    #enclosed:checked:checked ~ .enclosed,
    #running:checked:checked ~ .running,
    #not_running:checked:checked ~ .not_running {
      border-color: #ff5227;
      background: #ff5227;
    }
    #open:checked:checked ~ .open .dot,
    #enclosed:checked:checked ~ .enclosed .dot,
    #running:checked:checked ~ .running .dot,
    #not_running:checked:checked ~ .not_running .dot {
      background: #fff;
    }
    #open:checked:checked ~ .open .dot::before,
    #enclosed:checked:checked ~ .enclosed .dot::before,
    #running:checked:checked ~ .running .dot::before,
    #not_running:checked:checked ~ .not_running .dot::before {
      opacity: 1;
      transform: scale(1);
    }
    .wrapper .option span {
      font-size: 16px;
      color: #808080;
    }
    #open:checked:checked ~ .open span,
    #enclosed:checked:checked ~ .enclosed span,
    #running:checked:checked ~ .running span,
    #not_running:checked:checked ~ .not_running span {
      color: #fff;
    }
    
    .input-button {
      padding: 10px 35px;
      text-decoration: none;
      text-align: center;
      font-size: 18px;
      outline: none;
      font-weight: 500;
      color: #fff;
      background-color: #ff5227;
      transition: 0.4s;
      border: 0.5px solid #d0d0d0;
      border-radius: 5px;
      width: 100%;
      text-transform: uppercase;
      cursor: pointer;
    }
    .input-button:hover {
      color: #ff5227;
      background-color: #fff;
      border: 0.5px solid #ff5227;
    }
    .form-1-2-3-form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 290px;
    }
    
    .form-1-2-3-form > div {
      display: grid;
      place-items: center;
    }
    
    .form-1-2-3-form > div > p {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #918f8f;
      font-size: 18px;
      color: #fff;
      text-align: center;
      padding: 6.5px;
    }
    
    .step-1 > p {
      background-color: #ff5227 !important;
    }
    
    /* step 2 starts here */
    .steps-second-short-form-part > select {
      width: 80%;
      margin: 4% 0;
      padding: 8px 20px;
      font-size: 14px;
      outline: none;
      color: black;
      transition: 0.4s;
      border: 0.5px solid #d0d0d0;
      border-radius: 5px;
      width: 95%;
      text-transform: uppercase;
      cursor: pointer;
    }
    
    /* step 3 */
    
    .steps-second-short-form-part > input {
      font-size: 13px;
      padding: 12px 10px;
      border: 0.5px solid #d0d0d0;
      border-radius: 5px;
      width: 100%;
      margin: 4% 0;
    }
    
    .form-button > button {
      padding: 10px 35px;
      font-size: 18px;
      outline: none;
      font-weight: 500;
      color: #fff;
      background-color: #ff5227;
      transition: 0.4s;
      border: 0.5px solid #d0d0d0;
      border-radius: 5px;
      width: 95%;
      text-transform: uppercase;
      cursor: pointer;
      margin: 0 auto;
    }
    
    #make_side_input,
    #myInput2,
    #year_side_input {
      padding: 10px;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    
    #make_side_list,
    #myList2,
    #yearList {
      display: none;
      position: absolute;
      width: 280px;
      border: 1px solid #ccc;
      background-color: #fff;
      overflow-y: scroll;
      max-height: 250px;
      z-index: 1;
    }
    
    #make_side_list div,
    #myList2 div,
    #yearList div {
      padding: 10px;
      cursor: pointer;
    }
    
    #make_side_list div:hover,
    #myList2 div:hover,
    #yearList div:hover {
      background-color: #f2f2f2;
    }
    
    @media screen and (max-width: 1350px) {
      .form-section > .form-section-group_side {
        width: 100%;
      }
    }
    @media screen and (max-width: 1100px) {
      .form-section > .form-section-group_side {
        width: 98%;
      }
    }
    @media screen and (max-width: 1000px) {
      /* .form_div{
        display: none;
      } */
      .main-state-to-state {
        grid-gap: unset;
        place-items: center;
      }
      .form_div{
        margin-top: 50px;
      }
  
    }
    @media screen and (max-width: 800px) {
      .bb-img {
        width: 80px;
        height:80px;
        top:-2%;
        left:-4%
        /* display: none; */
      }
      .form-section {
        max-width: 400px;
        min-width: 200px;
        padding: 4%;
      }
      .form-section > .form-section-group_side {
        padding: 0 2%;
      }
    
      .form-section > .form-section-group_side > p {
        font-size: 14px;
      }
      .form-section > .form-section-group_side > .form-bold-heading {
        font-size: 22px;
      }
    
      .form-button > button {
        margin: 5px auto;
      }
      .form-section > .form-section-group_side {
        width: 100%;
      }
    }