.shipping-form-state-content p {
    font-size: 18px;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
    margin: 2% 0;
    line-height: 1.8;
}

.shipping-form-state-content p span {
    font-size: 18px;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
    margin: 2% 0;
    line-height: 1.8;
}

.main_content_div p {
    font-size: 18px;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
    margin: 2% 0;
    line-height: 1.8;
}

.main_content_div h4,
.main_content_div h3,
.main_content_div h5,
.main_content_div h6,
.main_content_div h2 {
    font-size: 30px;
    font-weight: 600;
}

.main_content_div img {
    /* margin-left:10px; */
    width: 100%;
}

.main_content_div ul li {
    list-style: disc;
    font-size: 18px;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
    margin: 2%;
    line-height: 1.8;
}
.main_content_div ol li{
    list-style: auto;
    font-size: 18px;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
    margin: 2%;
    line-height: 1.8;
}

#call_under_content {
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    outline: none;
    font-weight: 500;
    color: var(--nav-color);
    background-color: transparent;
    transition: 0.4s;
    border: 2px solid #ff5227;
    border-radius: 25px;
    width: 80%;
    text-transform: uppercase;
    cursor: pointer;
}

/* all state name grid section */
.all-state-name-grids-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 2% 5%;
}

.rapid-advantages-grid-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 2% 2%;
}

.rapid-advantages-section {
    padding: 0 5%;
}

.all-state-name-page-mains {
    padding: 0 2% 0% 2%;
}

.all-state-name-pages {
    background-color: var(--section-background);
    padding: 1% 0;
    border-radius: 14px;
    border: 1px solid var(--nav-color);
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15) !important;
}
.b-top-button{
    display: none;
}
.b_top{
    position: fixed;
    bottom: 25px;
    left: 20px;
    cursor: pointer; 
    color: #ff5722;
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
    border-radius: 12px;
    padding: 10px;
    border: 2px solid #ff5722;
    height: 30px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b_top a{
    color: #ff5722;
}
.banner-review-images{
    margin-bottom: 10px;
}
.banner-review-images img{
    margin: 17px 17px 0 0;
}



@media screen and (max-width: 1000px) {
    .rapid-advantages-grid-1 {
        height: 330px;
    }
}

@media screen and (max-width: 800px) {
    .all-state-name-grids-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .all-state-name-grids {
        margin: 4% 0;
    }

    .rapid-advantages-grid-1 {
        height: 320px;
    }
}

@media screen and (max-width:768px) {
    .utility_grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
    

}

@media screen and (max-width: 600px) {
    .b-top-button{
        display: block;
    }

    .utility_grid-4 {
        gap: 0;
    }
}

