.third-section-state {
  background-color: rgb(0, 0, 0, 0.4) !important;
} /* big main title */
.text-small {
  font-size: 18px !important;
  word-spacing: 1.5px !important;
  letter-spacing: 0.5px !important;
}

.heading-1 {
  font-size: 30px;
  font-weight: 600;
}

h1 > span,
h2 > span,
h4 > span,
h6 > span,
.heading-1 > span {
  color: var(--nav-color);
}

/* sub main title */
.heading-2 {
  font-size: 23px;
  font-weight: 600;
  margin: 3% 0;
}
.heading-h4 {
  font-size: 20px;
}
/* big  text */
.para-1 {
  font-size: 17px;
}
/*  small text */
.para-2 {
  font-size: 18px;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
  margin: 2% 0;
  line-height: 1.8;
}
.points-div-ul {
  margin: 4% 0;
}
.points-div-ul > li {
  list-style: marker;
  margin-left: 20px;
  margin: 15px 0 20px 20px;
  font-size: 20px;
}
.points-div-ul > li > a {
  font-size: 19px;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
  text-transform: capitalize !important;
}

.points-div-ul > li > a:hover {
  text-decoration: underline;
}

.shipping-form-state-image {
  border: 8px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin-top: 2%;
  margin-bottom: 6%;
}

/* main grid section  */

.main-state-to-state {
  width: 100%;
  display: grid;
  grid-template-columns: 64% 1fr;
  grid-gap: 4%;
  padding: 5% 9% 0 9%;
}

.right-state-to-state-child {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.callout-right-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/*  top scroll button start  */

.top-scroll-btn-relative {
  position: relative;
  width: 100vw;
  top: 0;
  display: none;
}

.top-scroll-btn-fixed {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: var(--nav-color);
  color: #fff;
  border-radius: 50%;
  bottom: 5%;
  left: 5%;
  display: grid;
  place-items: center;
}

.top-scroll-btn-fixed > i {
  color: #fff;
  font-size: 20px;
  transform: rotate(180deg);
}

/* first section styling starts here */

/* .first-state-to-state {
    padding: var(--main-body-padding);
} */

.shipping-form-state-name {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 3% 0;
}

.shipping-form-state-image {
  display: grid;
  align-items: center;
}

.shipping-form-state-content {
  margin: 5% 0;
}

.shipping-form-state-content-ul > li {
  font-size: 18px;
  margin: 0.5% 0;
  margin-left: 25px;
  list-style-type: disc;
}

.shipping-form-state-content > p {
  margin: 2% 0;
}

.shipping-form-state-image > img {
  width: 100%;
}

/* -------------------- */
/* Advantages section */
/* -------------------- */

.rapid-advantages-section {
  padding: 0 5%;
}

.rapid-advantages-grid-container > h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3%;
}

.rapid-advantages-grid-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 2% 2%;
}

.rapid-advantages-grid-1 {
  height: 250px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

.rapid-advantages-grid-1 > h3 {
  color: var(--nav-color);
  margin: 3% 0;
}

.rapid-advantages-grid-1 > img {
  height: 80px;
}

/* review star strip */

.state-to-state-review {
  padding: var(--all-section-padding);
}

.state-to-state-review-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}

.state-to-state-review-grid-1 {
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.state-to-state-review-grid-1:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.state-to-state-review-grid-1 > p {
  padding: 3%;
}

.state-to-state-review-grid-1 > h3 > span {
  color: var(--nav-color);
  text-transform: uppercase;
}

.state-to-state-review-grid-1 > img {
  height: 100px;
  padding: 5%;
}

.orange-strip {
  width: 100%;
  color: #fff;
  background-color: var(--nav-color);
}

.orange-strip > h2,
.orange-strip > h6 {
  font-weight: 600;
  font-size: 24px;
}

/* third section starts here */

/* .third-state-to-state {
    padding: var(--main-body-padding);
} */

/* .third-state-to-state>h2 {
    text-align: center;
} */

.starting-dstination-content > p {
  padding: 2% 0;
}

/* fourth state to satte */

/* .fourth-state-to-state {
    padding: var(--main-body-padding);


}
*/

/* 
.fourth-state-to-state>h2 {
    text-align: center;
} */

.cost-shipping-content {
  padding: 2% 0;
}

.cost-shipping-content > p {
  padding: 1% 0;
}

/* steps section */

.fifth-state-to-state {
  padding: var(--main-body-padding);
}

.fifth-state-to-state-grid-1 {
  background-color: var(--section-background);
  padding: 5% 5% 0 5%;
  display: grid;
  grid-template-columns: 60% 1fr;
}

.text-div-parent {
  display: inline-flex;
}

.text_div_1 {
  display: none;
}

.steps-buttons {
  padding: 5% 0;
}

.steps-buttons > button {
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid var(--nav-color);
  color: var(--nav-color);
  padding: 0px 35px;
  transition: all 0.3s;
  border-radius: 20px;
  margin-right: 4%;
}

div[class*="special-red-btn"] {
  background-color: var(--nav-color) !important;
  color: #fff !important;
}

.steps-buttons > button:hover {
  background-color: var(--nav-color);
  border: 1px solid #fff;
  color: #fff;
}

.steps-buttons > button.active {
  background-color: var(--nav-color);
  border: 1px solid #fff;
  color: #fff;
}

.fifth-state-to-state-grid-image {
  display: none;
  place-items: center;
}

.fifth-state-to-state-grid-image > img {
  width: 350px;
  height: 250px;
}

.fifth-state-to-state-grid-content > h2,
.fifth-state-to-state-grid-content > h6 {
  font-size: 25px;
}

.fifth-state-to-state-grid-content > p {
  word-spacing: 1px;
  letter-spacing: 0.4px;
  padding: 2% 0;
}

/* links section starts here */

.sixth-state-to-state {
  padding: var(--all-section-padding);
}

.sixth-state-to-state > h2 {
  text-align: center;
}

.sixth-state-to-state-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4% 0;
  grid-gap: 4%;
}

.sixth-state-to-state-grid-1 {
  padding: 5%;
  text-align: center;
  transition: all 0.4s;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.sixth-state-to-state-grid-1:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.sixth-state-to-state-grid-1 > li {
  line-height: 2;
}

.sixth-state-to-state-grid-1 > li > a {
  color: var(--nav-color);
  text-align: center;
  font-size: 15px;
}

.sixth-state-to-state-grid-1 > li > a:hover {
  color: black;
}

/* seventh section starts here */

.seventh-state-to-state {
  padding: var(--all-section-padding);
}

.seventh-state-to-state > h2 {
  text-align: center;
}

.seventh-city-name {
  padding: 2% 0;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}

.city-name-grid-1 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5%;
  margin-top: 2%;
}

.city-name-grid-1 > p {
  font-size: 14px;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  line-height: 1.5;
}

.city-name-grid-1 > h4 {
  margin-bottom: 5%;
  line-height: 1.2;
  font-weight: 600;
  color: var(--nav-color);
  text-align: center;
}
@media screen and (max-width: 1300px) {
  .main-state-to-state {
    padding: 5%;
  }
}
@media screen and (max-width: 1000px) {
  .main-state-to-state {
    grid-template-columns: 100%;
    padding: 5%;
  }
  .heading-1 {
    font-size: 25px;
    font-weight: 700;
  }
  h2 > span {
    color: var(--nav-color);
  }
  /* sub main title */
  .heading-2 {
    font-size: 20px;
  }
  /* big  text */
  .para-1 {
    font-size: 15px;
  }
  /*  small text */
  .para-2 {
    font-size: 15px;
  }
  .points-div-ul > li {
    margin: 15px 0 15px 20px;
    font-size: 18px;
  }
  .points-div-ul > li > a {
    font-size: 16px;
  }
  .shipping-form-state-content-ul > li {
    font-size: 16px;
  }
  .top-scroll-btn-fixed {
    bottom: 1 0%;
    left: 85%;
  }
  .orange-strip > h2,
  .orange-strip > h6 {
    font-size: 18px;
    font-weight: 500;
  }
  .fifth-state-to-state-grid-content > h2,
  .fifth-state-to-state-grid-content > h6 {
    font-size: 15px;
  }
  .sixth-state-to-state-grid-1 > li {
    line-height: 1.5;
    font-size: 13px;
  }
  .seventh-city-name {
    grid-template-columns: repeat(2, 1fr);
  }

  .rapid-advantages-grid.utility_grid-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }
}

@media screen and (max-width: 600px) {
  .rapid-advantages-grid.utility_grid-3 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
  .rapid-advantages-grid-1 {
    border-bottom: 1px solid var(--nav-color);
  }

  .seventh-city-name {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: unset;
  }
  .sixth-state-to-state-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: unset;
  }
  .fifth-state-to-state-grid-1 {
    grid-template-columns: unset;
  }
  .state-to-state-review-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: unset;
  }
  .shipping-form-state-name {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: unset;
  }
  .state-to-state-review-grid-1 {
    margin-bottom: 10%;
  }
  .sixth-state-to-state-grid-1 {
    margin-bottom: 5%;
  }
}

/* all state name extra css */

.all-state-name-page-mains {
  padding: 0 2% 0% 2%;
}

.all-state-name-pages > h2,
.all-state-name-pages > h6 {
  text-align: center;
  padding: 1%;
}

.all-state-name-pages {
  background-color: var(--section-background);
  padding: 1% 0;
  border-radius: 14px;
  border: 1px solid var(--nav-color);
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15) !important;
}

.all-state-name-grids-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2% 5%;
}

.all-state-name-grids {
  margin: 2% 0;
}

.all-state-name-grids > a {
  text-align: center;
  color: var(--color-border-2);
  letter-spacing: 0.6px;
  word-spacing: 0px;
  line-height: 2;
  font-size: 15px;
  font-weight: 500;
}

.all-state-name-grids > a:hover {
  color: var(--color-bg-2);
}

@media screen and (max-width: 800px) {
  .all-state-name-grids-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .all-state-name-page-mains {
    padding: 0 5%;
  }
}
@media screen and (max-width: 800px) {
  .text-small {
    font-size: 15px !important;
  }
  .fifth-state-to-state-grid-image > img {
    width: 250px;
    height: auto;
  }
  .state-to-state-review {
    padding: 5%;
  }
  .fifth-state-to-state {
    padding: 5%;
  }
  .all-state-name-page-mains {
    padding: 0 5%;
  }
}

@media screen and (max-width: 500px) {
  .all-state-name-grids-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .all-state-name-grids {
    margin: 10% 0;
  }
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.new-blog-section-one-child-0 {
  margin-bottom: 20px;
  margin-right: 15px;
}
.new-blog-section-one-changes > h2 {
  color: vaR(--nav-color);
}
.new-blog-section-one-child-0 {
  padding: 10px;
}
.new-blog-section-one-child-0 {
  box-shadow: 4px 0px 17px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.new-blog-section-one-child-0 > h6 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px;
}
.new-blog-section-one-child-0 > img {
  width: 60px;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .new-blog-section-one-child-0 {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
