/* grid section */

.blog-page-blog-section-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0 5%;
}


/* grid section left */

.blog-page-blog-section-grid-left {
    padding: 8% 3%;
}

.blog-page-blog-section-grid-img-container {
    width: 100%;
    height: max-content;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    margin-top: 8%;
    border: 2px solid var(--color-txt-1);
    border-radius: 10px;
    transition: 0.3s;
}

.blog-page-blog-section-grid-img-container:hover {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: 0 10px 43px #cccdce;
    border: 2px solid var(--color-bg-2);
}

.blog-page-blog-section-grid-img-container>img {
    height: 250px;
    width: 100%;
    padding: 5%;
}

.blog-page-blog-section-grid-heading-container {
    padding: 5%;
    width: 100%;
    font-size: 14px;
    height: 270px;
}

.blog-page-blog-section-grid-heading-container>h2 {
    color: var(--color-bg-2);
}

.blog-page-blog-section-grid-heading-container>p {
    font-size: 14px;
    color: black;
    margin: 2% 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 22px;
}

.comments-on-blogs-page-dynamic {
    color: var(--color-txt-3) !important;
    font-size: 12px !important;
    margin-top: 5%;
}

.blog-page-blog-section-grid-right {
    height: max-content;
    border: none;
}


/* media queries */

@media screen and (max-width: 800px) {
    .blog-page-blog-section-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-page-blog-section-grid-left {
        padding: 3%;
    }
}

@media screen and (max-width: 500px) {
    .blog-page-blog-section-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-page-blog-section-grid-left {
        padding: 3%;
    }
}