.state-first-section {
    width: 100%;
    height: 430px;
    padding: 40px 0;
    position: relative;
}

.state-first-section-bg {
    position: absolute;
    top: 0;
    left: 0;
}
/* 
<!-- new section under the first section of single line -->

*/

.new-line-below-bg>p {
    text-align: center !important;
    color: var(--nav-color);
    margin-top: 2% !important;
    font-weight: 600;
}

.state-first-section-bg {
    width: 100%;
    height: 100%;
}

.state-first-section-bg>img {
    width: 100%;
    height: 100%;
}

.state-first-section-content {
    position: absolute;
    width: 100%;
}

.state-first-section-content>p:first-child {
    text-align: center;
    color: var(--nav-color);
    font-size: 14px;
    line-height: 2;
    margin-bottom: 10px;
}

.under-line-div {
    width: 150px;
    height: 2px;
    background-color: var(--nav-color);
    margin: 5px auto;
}

.state-first-section-heading {
    width: 45%;
    margin: 30px auto;
}

.state-first-section-heading>p {
    font-weight: 500;
    text-align: center;
    color: var(--nav-color);
    font-size: 45px;
}

.state-first-section-text {
    width: 40%;
    margin: 30px auto;
    word-spacing: 2px;
}

.state-first-section-text>p {
    text-align: center;
    color: var(--nav-color);
    font-size: 18px;
}

.state-first-section-button {
    display: flex;
    justify-content: center;
}

.state-first-section-button>button {
    padding: 13px 18px;
    font-size: 17px;
    color: var(--nav-color);
    border-radius: 34px;
    border: none;
    background-color: var(--nav-color);
    border: 1px solid var(--nav-color);
    transition: 0.3s;
}

.state-first-section-button>button:hover {
    background-color: var(--nav-color);
    border: 1px solid var(--nav-color);
    color: var(--nav-color);
}

.second-state-section {
    padding: 80px 5%;
    display: grid;
    grid-template-columns: 30% 10% 1fr;
    grid-gap: 20px;
    padding-top: 2%;
}

.state-name {
    padding: 20px 10px;
    background-color: var(--color-txt-1);
    background-color: var(--color-txt-1);
    box-shadow: 0px 1px 9px rgba(255, 127, 87, 0.25);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

.state-name>p:first-child {
    font-size: 50px;
    color: var(--nav-color);
    font-weight: 500px;
}

.state-name>p:nth-child(2) {
    font-size: 30px;
    color: var(--color-txt-3);
}

.state-name>p:nth-child(3) {
    font-size: 18px;
    color: var(--color-txt-3);
}

.state-name>p:nth-child(3)>span {
    color: var(--nav-color);
}

.left-right-arrow-state {
    display: grid;
    place-items: center;
}

.state-city-name {
    padding: 90px 30px;
    background-color: var(--color-txt-1);
    box-shadow: 0px 1px 24px rgba(255, 127, 87, 0.17);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.state-city-name>p {
    color: #47301b;
    font-size: 15px;
    word-spacing: 2px;
}

.state-city-name>p>span>a {
    color: var(--nav-color);
    font-weight: 500;
    cursor: pointer;
}

.state-city-name>p>span:hover {
    text-decoration: underline;
}

.third-section-state {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-gap: 40px;
    /* background-color: var(--nav-color)4F4; */
    padding: 5% 5%;
}

.third-section-form {
    display: grid;
    place-items: center;
}

.third-section-form>form {
    width: 360px;
    background: var(--color-txt-1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    padding: 10px 20px;
}

.third-section-form>form>p:first-child {
    color: var(--nav-color);
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

.third-section-form>form>p:nth-child(2) {
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    color: #808080;
    text-align: center;
}

.form-input {
    padding: 20px 0 5px 0;
}

div[class*="vehicle-car-"] {
    margin-bottom: 40px;
}

div[class*="vehicle-car-"]>p {
    font-size: 12px;
    padding-left: 5px;
    color: #525252;
    line-height: 1.5;
}

div[class*="vehicle-car-"]>input {
    font-size: 13px;
    padding: 12px 10px;
    border: 0.5px solid #d0d0d0;
    border-radius: 5px;
    width: 100%;
}

.form-button {
    padding: 0 0 10px 0;
    display: grid;
}

.form-button>button {
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 500;
    color: var(--nav-color);
    background-color: var(--nav-color);
    transition: 0.4s;
    border: 0.5px solid #d0d0d0;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
}

.form-button>button:hover {
    color: var(--nav-color);
    background-color: var(--color-txt-1);
    border: 0.5px solid var(--nav-color);
}

.form-1-2-3-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
}

.form-1-2-3-form>div {
    display: grid;
    place-items: center;
}

.form-1-2-3-form>div>p {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #918f8f;
    font-size: 18px;
    color: var(--nav-color);
    text-align: center;
    padding: 6.5px;
}

.step-1>p {
    background-color: var(--nav-color) !important;
}

.fourth-state-section {
    padding: 1% 5%;
}

.fourth-state-section-last-section-states {
    margin-bottom: 2%;
}

.fifth-section-state {
    padding: 5%;
}

.fifth-section-state-top-content {
    padding: 0 0 0 14%;
}

.fifth-section-state-top-img>img {
    width: 100%;
    height: 400px;
}

.fifth-section-state-top {
    display: grid;
    grid-template-columns: 50% 50%;
}

.fifth-section-state-bottom {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-gap: 5%;
}

.fifth-section-state-top-content-0 {
    margin-bottom: 20px;
}

.review-global-section-seven {
    height: 400px;
    padding: 10%;
    border: 1px solid var(--color-var(--color-black));
}

.review-global-section-seven>p {
    text-align: center;
    font-size: 50px;
}


/* -------------------------------------- */


/*  popular route new section added here */


/* --------------------------------------- */

.popular-routes {
    padding: 3% 5% 5% 5%;
    background-color: var(--nav-color);
}

.popular-routes-main-heading-container {
    padding: 1% 0;
}

.popular-routes-main-heaading-grid {
    display: grid;
    grid-template-columns: 46% 46%;
    grid-gap: 4%;
}

.popular-routes-grid-left-part {
    padding-left: 4%;
    border: 1px solid var(--nav-color);
}

.popular-routes-grid-right-part {
    padding-left: 4%;
    border: 1px solid var(--nav-color);
}

.popular-routes-names-container-box {
    padding: 0 1%;
    display: grid;
    font-size: 16px;
    grid-template-columns: 70% 1fr 10%;
}

.popular-routes-names-container-box>a {
    color: var(--color-black);
    cursor: default;
}

.popular-routes-names-container-box>p:first-child {
    color: var(--nav-color);
}

.popular-routes-grid-right-part-container>p:first-child {
    color: var(--color-black);
}

.popular-routes-grid-right-part-container>p:last-child {
    color: var(--nav-color);
}

@media screen and (max-width: 1300px) {
    .state-city-name {
        padding: 50px 30px;
    }
    .fifth-section-state-top-img>img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .state-first-section-heading>p {
        font-size: 40px;
    }
    .state-first-section-text>p {
        font-size: 16px;
    }
    .state-name>p:first-child {
        font-size: 42px;
    }
    .state-name>p:nth-child(2) {
        font-size: 22px;
    }
    .state-city-name {
        padding: 25px 30px;
    }
    .state-city-name>p {
        font-size: 17px;
    }
    .fifth-section-state-top-content {
        padding: 0 0 0 6%;
    }
    .fifth-section-state-top-content>p {
        margin-bottom: 25px;
    }
    .fifth-section-state-top-content-0 {
        padding: 5% 6% 5% 0;
    }
}

@media screen and (max-width: 900px) {
    .state-first-section {
        padding: 32px 0;
    }
    .state-first-section-heading>p {
        font-size: 30px;
    }
    .state-name>p:nth-child(2) {
        font-size: 19px;
    }
    .state-first-section-text>p {
        font-size: 14px;
    }
    .state-first-section-button>button {
        font-size: 14px;
    }
    .second-state-section {
        padding: 50px 3%;
    }
    .state-name>p:first-child {
        font-size: 36px;
    }
    .state-name>p:nth-child(3) {
        font-size: 13px;
    }
    .state-city-name>p {
        font-size: 14px;
    }
    .third-section-state {
        grid-template-columns: 50% 1fr;
        grid-gap: 15px;
        padding: 5% 5%;
    }
    .fifth-section-state-bottom {
        grid-template-columns: unset;
        grid-gap: 0;
    }
    .popular-routes-names-container-box {
        font-size: 18px;
        font-weight: 400;
    }
}

@media screen and (max-width: 500px) {
    .state-first-section {
        height: 330px;
    }
    .state-first-section-heading {
        width: 100%;
        margin: 20px auto;
    }
    .state-first-section-text {
        width: 100%;
    }
    .second-state-section {
        padding: 60px 5%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 20px;
    }
    .left-right-arrow-state>img {
        width: 25%;
        transform: rotate(90deg);
    }
    .state-first-section {
        padding: 17px 0;
    }
    .state-name>p:first-child {
        font-size: 40px;
    }
    .state-name>p:nth-child(2) {
        font-size: 22px;
    }
    .state-city-name>p {
        font-size: 15px;
    }
    .state-city-name {
        padding: 25px 10px;
    }
    .state-name>p:nth-child(3) {
        font-size: 16px;
    }
    .third-section-state {
        grid-template-columns: 100%;
    }
    .third-section-form>form {
        width: 360px;
        /* height: 480px; */
        background: var(--color-txt-1);
        box-shadow: 0px 2px 2px #887c78;
        border-radius: 7px;
        padding: 10px 10px;
    }
    .fifth-section-state-top {
        grid-template-columns: 100%;
    }
    .fifth-section-state-top-content {
        padding: 0 0 0 0%;
    }
    .fifth-section-state-top-content>p {
        margin: 25px 0;
    }
    .fifth-section-state-bottom {
        grid-template-columns: 100%;
    }
    .fifth-section-state-top-content-0 {
        padding: 0;
    }
    .popular-routes-main-heaading-grid {
        grid-template-columns: unset;
        grid-gap: 0% !important;
    }
}

@media screen and (max-width: 400px) {
    .state-first-section {
        padding: 31px 15px;
    }
    .third-section-form>form {
        width: 283px;
    }
    .form-input {
        padding: 10px 0 5px 0;
    }
    .popular-routes-names-container-box {
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .third-section-form>form {
        width: 283px;
    }
    .popular-routes-names-container-box {
        font-size: 13px;
    }
}