.new-blog-section-one {
  padding: 3% 0;
}

.new-blog-section-one > h2,
.new-blog-section-one > h3,
.new-blog-section-one > h4 {
  margin-bottom: 2%;
  text-transform: capitalize;
  font-size: 24px;
}

.new-blog-section-one > img {
  border-radius: 5px;
  margin-top: 2%;
  max-height: 450px;
}
.new-blog-section-one > ul > li > ion-icon {
  margin-top: 8px;
  color: var(--nav-color);
}

.new-blog-section-two {
  padding: 5% 10%;
}

.new-blog-section-two > h2 {
  text-align: center;
}

.new-blog-section-two > img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
}

.new-blog-section-two > p > span {
  color: vaR(--nav-color);
}

.new-blog-section-one > p > em {
  font-style: oblique;
}

.list-style {
  list-style: disc !important;
  margin-left: 15px;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.8;
}

.exotic-car-icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.exotic-car-icons > ion-icon {
  font-size: 25px;
  color: vaR(--nav-color);
  margin-right: 10px;
}

.exotic-car-icons > i {
  font-size: 25px;
  color: vaR(--nav-color);
  margin-right: 10px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.new-blog-section-one-child-0 {
  margin-bottom: 20px;
  margin-right: 15px;
}
.new-blog-section-one-changes > h2 {
  color: vaR(--nav-color);
}
.new-blog-section-one-child-0 {
  padding: 10px;
}
.new-blog-section-one-child-0 {
  box-shadow: 4px 0px 17px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.new-blog-section-one-child-0 > h6 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px;
}
.new-blog-section-one-child-0 > img {
  width: 60px;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .new-blog-section-one-child-0 {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
