.small-form-2 {
    padding: 2% 10%;
    background-color: #fff4f4;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.small-form-2-left-side-section>h3 {
    font-size: 30px;
    line-height: 1.5;
    margin-top: 25px;
}

.small-form-2-left-side-section>p {
    font-size: 16px;
    margin-top: 20px;
}

.trustbadge-small-form {
    display: inline-flex;
    width: 100%;
}

.trustbadeg-01 {
    margin-top: 40px;
    margin-right: 50px;
}

.trustbadeg-01>img {
    width: 140px;
}

@media screen and (max-width: 700px) {
    .small-form-2 {
        padding: 2% 5%;
        grid-template-columns: 100%;
    }
    .trustbadeg-01>img {
        width: 80px;
    }
    .trustbadeg-01 {
        margin: 10px 0;
    }
    .small-form-2-left-side-section>h3 {
        text-align: center;
    }
    .trustbadge-small-form {
        justify-content: space-between;
        margin-top: 20px;
    }
    .small-form-2-left-side-section>p {
        margin-top: 5px;
    }
    .small-form-2-left-side-section>p {
        font-size: 16px;
        text-align: justify;
    }
    .small-form-2-left-side-section>h3 {
        margin: 11px 0;
    }
    .trustbadeg-01>img {
        width: 100px;
    }
}

@media screen and (max-width: 380px) {
    .trustbadeg-01>img {
        width: 90px;
    }
}